<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Title</title>
</head>
<body>
    <h3>POST方式</h3>
    <form action="/web/cpu_info/" method="post">
         <p><span>cpu_module：</span><input type="text" name="cpu_module"></p>
        <p><span>cpu_physical：</span><input type="text" name="cpu_physical"></p>
        <p><span>cpu_cores：</span><input type="text" name="cpu_cores"></p>
         <p><span>cpu_processor：</span><input type="text" name="cpu_processor"></p>
        <input type="reset">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="增加">
    </form>
</body>
</html>